@font-face {
    font-family: "Conthrax";
    src: url("../Assets/conthrax-sb.ttf");
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: overlay;
}

header {
    top: 0;
    position: sticky;
    height: 8vh;
    background-image: linear-gradient(#151626, #0e0f1a);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header ul {
    list-style-type: none;
    margin: 0;
    margin-left: 20%;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

header li {
    margin-left: 4.2vw;
    text-align: centre;
}

header a {
    text-decoration: none;
    color: white;
    font-family: "Conthrax";
    font-size: 1vw;
}

p {
    color: white;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: "Conthrax";
    font-size: 75pt;
}

h2 {
    color: white;
    font-family: "Conthrax";
    font-size: 6vh;
}

#HeaderLogo {
    margin-left: 110%;
    margin-right: 7.5%;
    height: 2.75vw;
}

#WelcomeLogo {
    width: 46vw;
    position: absolute;
    left: 50%;
    top: 27.5%;
    transform: translate(-50%, -50%);
}

#socialIconsBar {
    background-color: #0e0f1a2c;
    margin-top: 35.7vh;
    height: 7.2vh;
    display: flex;
    align-items: center;
}

#FollowUsText {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-variant: small-caps;
    font-size: 2vw;
    margin: 0;
    margin-left: 27%;
}

.WelcomeSocialIcons {
    opacity: 100%;
    margin-left: 2.5vw;
}

#BlurbSection {
    height: 41vh;
    font-size: 20vw;
    margin-top: 8vh;
    background-color: #151626;
    background-image: url("../Assets/HomePage/PLaceholder\ Image.png");
    background-size: cover;
}

#BlurbTitle {
    padding-top: 2vh;
    padding-left: 20%;
    margin-bottom: 0;
}

#BlurbParagraph {
    padding-left: 20%;
    width: 32%;
    font-size: 1.1vw;
    margin-top: 5px;
    color: #cccccc;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: -50px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#GamesSection {
    background-image: linear-gradient(#151626, #0E0F1A);
    height: 92vh;
}

.SectionHeader {
    margin-top: 0px;
    padding-top: 5px;
    font-size: 4vw;
    text-align: center;
}

#GamesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.GameDivider {
    height: 30+vw;
}

.GameBox {
    width: 30vw;
    height: 68vh;
}

.GameTitle {
    font-size: 2vw;
    margin-top: 0;
}

.GameImg {
    width: 17.6vw;
}

.GameParagraph {
    font-size: 1.05vw;
    padding-right: 10%;
    color: #CCCCCC;
    margin-bottom: 10vh;
}

.GameReadMoreLink {
    color: #CCCCCC;
    font-family: "Conthrax";
}

#NewsSection {
    display: grid;
    grid-template-columns: 10vw auto 27vw 10vw;
    grid-template-rows: 13.43vh 66.2vh auto;
    height: 92vh;
}

#NewsBox {
    background-color: rgba(21, 22, 38, 0.75);
    grid-column: 2 / 4;
    grid-row: 2/2;
    padding-left: 2.5vw;
}

#NewsTitle {
    margin-bottom: 30px;
    height: 20%;
    font-size: 3vw;
    grid-column: 1 / 2;
}

#NewsBar {
    height: 3px;
    width: 46vw;
    background-color: white;
}

#NewsParagraph {
    width: 50vw;
    font-size: 2vw;
}

.NewsImages {
    margin-top: 22.5%;
    grid-column: 3 / 3;
    grid-row: 2/2;
    align-self: center;
    width: 23.6vw;
}